/* body { */
/*   width: 80%; */
/*   height: 80%; */
/*   margin: auto auto; */
/*   padding: 0; */
/*   font-family: sans-serif; */
/* } */

th {
  color: hsl(217, 71%, 53%) !important;
}
th:hover {
  cursor: pointer !important;
}
.tableContainer {
  width: 100%;
  overflow-x: auto;
}