th {
  color: hsl(217, 71%, 53%) !important;
  user-select: none;
}
th:hover {
  cursor: pointer !important;
}
.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.container {
  margin: 0 5%;
}

.container > * {
  margin: 0.5em 0;
}

footer {
  text-align: center;
}

.control {
  display: block;
  width: fit-content;
  margin: auto;
}

.control-group {
  display: inline-block;
}

.control-group:nth-child(2) {
  margin: 0 0.5em;
  padding: 0 0.5em;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}
